{% extends 'base_back.html.twig' %} {% block title %}Placetype index{% endblock
%} {% block body %}
<h1>Types de lieux disponibles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for placetype in placetypes %}
    <tr>
      <td>{{ placetype.id }}</td>
      <td>{{ placetype.title }}</td>
      <td>
        <a href="{{ path('placetype_show', { id: placetype.id }) }}">show</a>
        <a href="{{ path('placetype_edit', { id: placetype.id }) }}">edit</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="3">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('placetype_new') }}">Ajouter</a>
{% endblock %}
