{% extends 'base_back.html.twig' %} {% block title %}Reservation index{%
endblock %} {% block body %}
<h1>Reservation index</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date_start</th>
      <th>Date_end</th>
      <th>Place de parking</th>
      <th>Prix</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for reservation in reservations %}
    <tr>
      <td>{{ reservation.id }}</td>
      <td>
        {{ reservation.dateStart ? reservation.dateStart|date('Y-m-d') : '' }}
      </td>
      <td>
        {{ reservation.dateEnd ? reservation.dateEnd|date('Y-m-d') : '' }}
      </td>
      <td>{{ reservation.spot.code }}</td>
      <td>{{ reservation.prix }} EUR</td>
      <td>
        <a href="{{ path('reservation_show', { id: reservation.id }) }}"
          >show</a
        >
        <a href="{{ path('reservation_edit', { id: reservation.id }) }}"
          >edit</a
        >
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="6">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
