{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}

<div>
    <h1>My Profile</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
            <p class="card-text">{{ user.email }}</p>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Avatar</b><br>
                {% if user.img %}
                    <img src="upload/avatar/{{ user.img }}" alt="{{ user.firstname }} {{ user.lastname }}">
                {% else %}
                    <img src="{{ asset('img/default_avatar.png') }}" alt="{{ user.firstname }} {{ user.lastname }}" width="80px">
                {% endif %}
            </li>
            <li class="list-group-item">
                <b>Bio</b><br>
                {% if user.bio %}{{ user.bio|nl2br }}{% else %}<i>No bio set</i>{% endif %}
            </li>
            <li class="list-group-item">
                <p>
                <a href="{{ path('profile_edit') }}" class="btn btn-outline-dark">Edit Profile</a>
                </p>
                <p>
                    <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Log Out</a>
                </p>
            </li>
        </ul>
    </div>



</div>
{% endblock %}
