{% extends 'base.html.twig' %} {% block title %}Recherche de place{%
    endblock %} {% block body %}
    <h1>Places disponibles selon vos critères</h1>
    <p>Lieu choisi: <b>{{ place.title }}</b>, du <b>{{ date_start|date('Y-m-d') }}</b>, au <b>{{ date_end|date('Y-m-d') }}</b></p>

    {% set difference = date(date_start).diff(date(date_end)) %}
    {% set reservationDays = difference.days + 1 %}
    {% if reservationDays == 1 %}
        Durée totale&nbsp;: 1 jour
    {% else %}
        Durée totale&nbsp;: {{ reservationDays }} jours
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Parking</th>
            <th>Disponibilité</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for spot in spots %}
            <tr>
                <td>
                    {{ spot.code }}
                </td>
                <td>
                    {{ spot.parking }}
                </td>
                <td>
                    <span class="text-success">Disponible du {{ date_start|date('Y-m-d') }} au {{ date_end|date('Y-m-d') }}</span>
                </td>
                <td>
                    <b>{{ spot.parking.price * reservationDays }} EUR ({{ spot.parking.price }} EUR par jour)</b>
                </td>
                <td>
                    <button class="btn btn-primary" onclick="confirmerReservation('{{ spot.parking.price * reservationDays }}', '{{ date_start }}', '{{ date_end }}', '{{ path('reservation_save', {'spot': spot.id, 'car': voiture, 'start': date_start, 'end': date_end}) }}')">Réserver</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Désolés, nous n'avons pas trouvé de place correspondant à vos critères.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function confirmerReservation(prix, debut, fin, url) {
            swal({
                title: 'Confirmer la réservation ?',
                text: "Vous êtes sur le point de réserver une place du "+debut+" au "+fin+" pour un prix de "+prix+" EUR",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Oui, je réserve !',
                cancelButtonText: 'Non merci',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    swal({
                        title: 'Réservation en cours',
                        html: 'Merci de patienter',
                        timer: 2000,
                        onOpen: () => {
                            swal.showLoading()
                            timerInterval = setInterval(() => {
                                swal.getContent().querySelector('strong')
                                    .textContent = swal.getTimerLeft()
                            }, 100)
                        },
                        onClose: () => {
                            window.location.href = url
                        }
                    })

                }
            });
        }
    </script>

{% endblock %}
