{% extends 'base.html.twig' %} {% block title %}My Cars{% endblock %} {%
block body %}
<h1>🚗 Mes Voitures</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Référence</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
    <tr>
      <td>{{ car.label }}</td>
      <td>{{ car.ref }}</td>
      <td>
        <a href="{{ path('my_cars_show', { id: car.id }) }}">voir</a>
        <a href="{{ path('my_cars_edit', { id: car.id }) }}">modifier</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">Aucune voiture trouvée… Pourquoi-pas en rajouter une&nbsp;? 🚗</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('my_cars_new') }}">Nouvelle Voiture</a>
{% endblock %}
