{% extends 'base_back.html.twig' %} {% block title %}Voitures{% endblock %} {%
block body %}
<h1>Voitures</h1>

<table class="table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Référence</th>
      <th>Propriétaire</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
    <tr>
      <td>{{ car.label }}</td>
      <td>{{ car.ref }}</td>
      <td>{{ car.user.firstname }} {{ car.user.lastname }}</td>
      <td>
        <a href="{{ path('cars_show', { id: car.id }) }}">voir</a>
        <a href="{{ path('cars_edit', { id: car.id }) }}">modifier</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">Aucune voiture</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('cars_new') }}">Ajouter une Voiture</a>
{% endblock %}
